<% var currentUrl = page_url(page.path) %>
<% var activeSection = '' %>
<% var activeVersion = '' %>


<!-- Homepage examples bar. -->
<aside class="sidebar">
  <div class="sidebar__wrap">
    <div class="sidebar__wrap__inner">

      <!-- Wordmark. -->
      <header id="header" class="header">
        <a id="logo" class="logo borderless-links" href="/">
          <span class="logo__wordmark">Exokit</span>
        </a>
      </header>

      <!-- Get Started for Mobile. -->
      <a href="/docs/" class="mobile-get-started nav-link get-started">
        Get Started
      </a>

      <div class="list examples-list blog-list">
        <h2 class="page-title"><a href="/blog">Blog</a></h2>
        <ul id="examplesSubnav"
            class="subnav examples-subnav borderless-links">
          <% var lastPost = site.posts.sort('-date').data[0] %>
          <li class="example-item">
            <a class="subnav-link" href="<%- lastPost.path %>" title="<%- lastPost.title %>"><%- lastPost.title %></a>
          </li>
        </ul>
      </div>

        <!-- Documentation list. -->
        <div class="list examples-list">
          <ul id="examplesSubnav"


          <div class="list">

            <% docs_version_filter(site.pages, activeVersion).find({parent_section: 'docs'})
                                                                     .sort('section_order')
                                                                     .each(function (section) { %>
              <% if (page.type === section.type) { activeSection = section } %>


              <!-- Section title. -->
              <li class="example-item">
              <h2 class="page-title">
                <p class="section-title-link"><%= section.section_title %></p>
              </h2>
              </li>

              <!-- Section links. -->
              <ol class="subnav section-subnav<%= section.show_guide ? ' numbered-subnav' : '' %>">
                <% docs_version_filter(docs_nav_sort(site.pages.find({type: section.type})),
                                       activeVersion).forEach(function (p) { %>
                  <li class="subnav-item <%= page.title === p.title ? ' subnav-item-current' : '' %>">
                    <a href="<%- page_url(p.path) %>"
                       class="subnav-link<%= page.title === p.title ? ' current' : '' %>">
                      <%- p.title.replace('<', '&lt;').replace('>', '&gt;') %>
                    </a>
                  </li>
                <% }) %>
              </ol>
            <% }) %>
          </div>

        </ul>
        </div>

      </div>
    </div>
  </div>
</aside>
